.back{
    width: 1920px;
    height: 70px;
    background-color: #0C0537;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    display: flex;
    justify-content: center;

}   




nav li{
    display: inline-block;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
    display: block;
    margin-top: 7px;
    transition: transform 0.3s;
}

nav a:hover{
    transform: scale(1.1);
}

.podbr{
    color: #FFC94F;
}

.logo{
    display: block;
    width: 75px;
    position: absolute;
    margin-left: 450px;
    transition: transform 0.3s;
}

.logo:hover{
    transform: scale(1.2);
}

.room{
    width: 969px;
    height: 518px;
    margin-left: 951px;
    margin-top: -79px;   
}

h1{
    font-size: 40px;
    width: 561px;
    display: block;
    position: absolute;
    margin-top: 150px;
    margin-left: 319px;
}

.text1{
    font-size: 18px;
    width: 485px;
    display: block;
    position: absolute;
    margin-top: 300px;
    margin-left: 319px;
}

.button1{
    position: absolute;
    width: 197px;
    height: 44px;
    background-color: #FFC94F;
    margin-left: 319px;
    margin-top: 0px;
}

.button1_text{
    margin-top: 11px;
    margin-left: 55px;
}

.head1{
    font-size: 40px;
    margin-left: 319px;
    margin-top: 170px;

}

.text2{
    margin-left: 319px;
    font-size: 20px;
}
